*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_page{
    display: grid;
    grid-template-columns:20% 1fr;
    transition: grid-template-columns 0.3s;
}
.left{
    /* background-color: black; */
    height: 100vh;
    color: white;
}
.main_page.collapsed {
    grid-template-columns: 5px 1fr; 
}
.right{
    background-color: white;
    height: 100vh;
}

